#container {
    position: absolute;
    top: 25vh;
    left: 50em;
    padding: 3px;
    border: 2px solid white;
}

#display {
    font-size: 25px;
}

.button-row {
    display: flex;
    width: 100%;
    gap: 4px;
    margin-bottom: 5px;
}

#debug-data {
    color: white;
 }